@use 'variaveis';
@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.container {
    background-color: red;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (min-width:640px) and (max-width: 1024px) {
        background-color: green;
        max-width: 90%;
    }

    @media (max-width: 640px) {
        background-color: blue;
        max-width: 80%;
    }

}